.hello {
  letter-spacing: 2px;
}
.main {
  margin: 24vh auto 0;
  width: 45vw;

  div {
    font-size: 2rem;
    text-transform: uppercase;
    color: #ff6f59;
  }
  h1 {
    font-size: 4rem;
    margin: 2.2rem 0;
    letter-spacing: 0.4rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
  }
  span {
    color: #ff6f59;
  }
}

.hitme {
  margin-top: 3rem;
  border: 1px solid #ff6f59;
  width: 15rem;
  padding: 1rem;
  text-align: center;
  a {
    font-size: 1.8rem;
  }
  &:hover {
    cursor: pointer;
    color: white;
    border: 1px solid white;
  }
}

@media screen and (max-width: 930px) {
  .main {
    width: 100%;
    h1 {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 820px) {
  .main {
    h1 {
      font-size: 3rem;
    }
  }
}
@media screen and (max-width: 630px) {
  .main {
    margin: 20vh auto 0;
    h1 {
      font-size: 2rem;
    }

    p {
      line-height: 3rem;
    }
  }
}
