.container {
  width: 50vw;
  margin: 3rem auto;
  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #ff6f59;
  }
  p {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 3rem;
    text-align: justify;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 70vw;
  }
}
